/* NAVBAR FIXED*/

.navbar-brand {
  margin-right: 20px;
}

#my-logo img {
  height: 30px;
}

.navbar-nav>li>a {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-default .navbar-nav>li>a {
  color:#283d68;
  font-size: 15px;
  font-weight: bold;
}

#sign-up a {
  border: 1.5px solid #006aff;
  color: #006aff;
  border-radius: 5px;
  padding: 5px 10px;
}

#sign-up {
  padding-top: 18px;
}


/* JUMBO */

.bg-jumbo {
  background-color: rgb(0, 105, 255);
  background-image: url("../img/bg-sea.svg");
  padding-top: 125px;
  padding-bottom: 70px;
}

.jumbotron h1 {
  color: #ffffff;
  font-size: 62px;
}

.jumbotron p {
  color: #89AAFF;
  font-size: 19px;
}

.date-personal {
  background-color: #ffffff;
  padding: 1.5% 3%;
  border-radius: 5px;
}

.date-personal h2:first-child {
  color: #031B4E;
  text-align: center;
  margin-top: 40px;
  margin-bottom: -7px;
  font-weight: bold;
}

.date-personal h2:last-of-type {
  color: #006aff;
  text-align: center;
  font-weight: bold;
}

/* FORM RIGHT */

.row #right {
  float: right;
  padding: 0 0;
}

.credenziali input, button {
  width: 100%;
  margin-top: 10px;
}

.credenziali button {
  box-shadow: 1.5px 1.5px rgb(229, 232, 237);
  border: none;
}

.date-personal p {
  font-size: 13px;
  font-weight: bold;
  color: #031B4E;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 30px;
}

.date-personal p a{
  color: #006aff;
  text-decoration: underline;
}

.credenziali input:nth-child(1),
input:nth-child(2) {
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid rgb(229, 232, 237);
}

.credenziali input:nth-child(3) {
  background-color: #579AFF;
  border-color: #579AFF;
  color: #ffffff;
}

/* LOGOS */

.bg-grey {
  background-color: #F3F5F9;
  margin-top: -30px;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  padding-top: 35px;
  padding-bottom: 20px;
  opacity: 1;
  color: rgb(117, 130, 158);
}

#p-logo p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #006aff;
  padding-top: 30px;
  padding-bottom: 20px;
}

.logo .col-md-2  {
  margin: 0 auto;
  padding: 0;
}

/* .container .logo img {
  width: 100%;
  height: auto;
} */

/* DEPLOY SECTION */

deploy-scale {
  text-align: center;
}

.deploy h2 {
  font-size: 37px;
  color: #031C4E;
  padding-top: 45px;
  text-align: center;
  font-weight: bold;
}

.deploy p {
  color: #5D6B89;
  font-size: 21px;
  text-align: center;
  font-weight: bold;
}

.list li a {
  text-decoration: none;
  font-weight: 540;
  color: #7F89A1;
}

.list li {
  list-style: none;
  font-size: 21px;
  border-left: 2px solid #CCCCCC;
  padding-top: 15px;
  padding-left: 10px;
}

.padding-list {
  padding-top: 75px;
  padding-left: 70px;
  margin: 0;
}

/* MEDIA QUERY */

@media (min-width: 992px)
.col-md-5 {
  width: 45.666667%;
}
